<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeacherMapper">
    <resultMap id ="teacherMap" type="top.ximimi.dao.entity.Teacher">
        <result property="tid" column = 'Tid'/>
        <result property="tname" column = 'Tname'/>

    </resultMap>

    <select id = "selectTeachers" resultMap = "teacherMap">
        select * from Teacher
    </select>

</mapper>